# Web framework
dash>=2.5.0
dash[diskcache]
dash-bootstrap-components>=1.1.0
dash-ag-grid>=2.2.0
dash-iconify 
dash-mantine-components==0.12.1
gunicorn>=20.1.0
werkzeug>=2.1.2
PyJWT>=2.3.0
authlib>=1.0
pydantic[dotenv]>2.0
pydantic_settings
requests>=2.26.0
flask_cors>=3.0.10
# Runner
typer>=0.4.0
rich>=12.5.1
# Datascience
pandas>=1.3.5
gcloud>=0.18.3
google-cloud-vision>=2.6.3
commonregex
beautifulsoup4>=4.10.0
pdf2image>=1.16.0
docxtpl>=0.15.6
unidecode>=1.3.4
twilio
pillow
pypdf
firebase-admin
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

#llm
langchain
openai
stripe

#scraper
playwright
selenium
